In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as ply

# Load DataSet

In [2]:
data = {
    "ID": range(1, 11),
    "Age": [22, 25, 27, 35, 40, 29, 31, 45, 50, 28],
    "Salary": [2500, 3000, 4000, 4500, 5000, 3200, 3700, 6000, 7000, 3100],
    "Purchases": [2, 5, 3, 6, 8, 2, 4, 10, 12, 1],
    "Hours_on_Website": [5, 7, 6, 4, 8, 2, 5, 9, 10, 3],
    "Customer_Visits": [1, 2, 1, 3, 4, 1, 2, 5, 6, 1]
}

In [3]:
data['Age']

[22, 25, 27, 35, 40, 29, 31, 45, 50, 28]

In [5]:
df = pd.DataFrame(data , columns=data.keys())
df.head()

   ID  Age  Salary  Purchases  Hours_on_Website  Customer_Visits
0   1   22    2500          2                 5                1
1   2   25    3000          5                 7                2
2   3   27    4000          3                 6                1
3   4   35    4500          6                 4                3
4   5   40    5000          8                 8                4