In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as ply
from scipy import stats

# Load DataSet

In [2]:
data = {
    "ID": range(1, 11),
    "Age": [22, 25, 27, 35, 40, 29, 31, 45, 50, 28],
    "Salary": [2500, 3000, 4000, 4500, 5000, 3200, 3700, 6000, 7000, 3100],
    "Purchases": [2, 5, 3, 6, 8, 2, 4, 10, 12, 1],
    "Hours_on_Website": [5, 7, 6, 4, 8, 2, 5, 9, 10, 3],
    "Customer_Visits": [1, 2, 1, 3, 4, 1, 2, 5, 6, 1]
}

In [3]:
data['Age']

[22, 25, 27, 35, 40, 29, 31, 45, 50, 28]

In [5]:
df = pd.DataFrame(data , columns=data.keys())
df.head()

   ID  Age  Salary  Purchases  Hours_on_Website  Customer_Visits
0   1   22    2500          2                 5                1
1   2   25    3000          5                 7                2
2   3   27    4000          3                 6                1
3   4   35    4500          6                 4                3
4   5   40    5000          8                 8                4

In [7]:
df.shape

(10, 6)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                10 non-null     int64
 1   Age               10 non-null     int64
 2   Salary            10 non-null     int64
 3   Purchases         10 non-null     int64
 4   Hours_on_Website  10 non-null     int64
 5   Customer_Visits   10 non-null     int64
dtypes: int64(6)
memory usage: 612.0 bytes

# Descriptive Statistics

In [11]:
print("Mean of Salary:\t\t", df["Salary"].mean())
print("Median of Salary:\t", df['Salary'].median())
print('Mode of Salary:\t\t', df['Salary'].mode()[0])

Mean of Salary:		 4200.0
Median of Salary:	 3850.0
Mode of Salary:		 2500

In [12]:
df.describe()

,ID,Age,Salary,Purchases,Hours_on_Website,Customer_Visits
count,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,5.50000,33.200000,4200.000000,5.300000,5.900000,2.600000
std,3.02765,9.138441,1439.135543,3.683296,2.601282,1.837873
min,1.00000,22.000000,2500.000000,1.000000,2.000000,1.000000
25%,3.25000,27.250000,3125.000000,2.250000,4.250000,1.000000
50%,5.50000,30.000000,3850.000000,4.500000,5.500000,2.000000
75%,7.75000,38.750000,4875.000000,7.500000,7.750000,3.750000
max,10.00000,50.000000,7000.000000,12.000000,10.000000,6.000000

In [15]:
print('variance of Purchases:\t\t\t', df['Purchases'].var())
print('Standard Daviation of Purchases:\t', df['Purchases'].std())

variance of Purchases:			 13.566666666666666
Standard Daviation of Purchases:	 3.683295625749672

In [17]:
print('Range of Age:\t', df['Age'].max()-df['Age'].min())

Range of Age:	 28

In [19]:
print("25 percentile:", np.percentile(df['Hours_on_Website'], 25))
print("50 percentile:", np.percentile(df['Hours_on_Website'], 50))
print("75 percentile:", np.percentile(df['Hours_on_Website'], 75))

25 percentile: 4.25
25 percentile: 5.5
25 percentile: 7.75

In [20]:
# IQR : inter quartile Range
q1 = np.percentile(df['Hours_on_Website'], 25)
q3 = np.percentile(df['Hours_on_Website'],75)
IQR = q3 - q1
print('IQR:', IQR)

IQR: 3.5

In [23]:
# Skewness & Kurtosis (Salary)
print("\nSkewness of Salary:", stats.skew(df["Salary"]))
print("Kurtosis of Salary:", stats.kurtosis(df["Salary"]))

Skewness of Salary: 0.755160607240429
Kurtosis of Salary: -0.5439660888946194